.cadre {
    border: 1px solid black;
}

.side-container {
    display: flex;
    /* height: 400px; */
    /* optionnel */
}


.side-left {
    /* display: flex; */
    /* width: 20%; */
    /* width: 250px;
    min-width: 150px;
    max-width: 600px; */
    background: #f0f0f0;
    padding: 10px;
    border-right: 1px solid #ccc;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 500px;
    resize: vertical;
    overflow: auto;
    max-height: 500px;

    min-width: 20%;
}


.resizer {
    /* display: flex; */
    width: 5px;
    cursor: col-resize;
    background: #999;
    border: 2px solid black;
}

.resizer:hover {
    background: #666;
}

.side-right {

    border: 2px solid black;
    flex: 1;
    padding: 10px;

    display: flex;
    flex-direction: column;

    min-width: 79%;
    height: 500px;

    /* ou auto si vous préférez */
    /* overflow: hidden; */
    /* empêche double-scroll */

    overflow: auto;
    /* resize: both; */
    resize: vertical;

}

.resize-all {
    resize: both;
    overflow: auto;
    height: 300px;
    border: 2px solid black;
}

.row-selected {
    background-color: #fff3cd !important;
    /* jaune clair */
}

/* ------------------ */

/* La zone des onglets : FIXE */
.tabs-header {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background: white;
    padding: 10px 0;
    z-index: 10;
    border-bottom: 1px solid #ccc;
}

/* La zone scrollable du contenu */
.tab-content {
    /* min-width: 100%; */
    height: calc(100% - 60px);
    /* Ajuste selon votre header */
    overflow-y: auto;
    padding-right: 10px;
}
