<!-- Bouton en haut -->
<h3 style="margin: 20px; margin-top: 40px;">
    Interface sql DOIT ETRE accessible que par ADMIN
</h3>
<div style="width: 100%; margin: 10px;">
    {{infos}}
</div>
<div style="display: flex; margin: 20px; ">
    <button (click)="getTables()">Get All Table Names</button>
</div>

<!-- <h5 style="margin-left: 20px;">
        {{selectedTable}}
    </h5> -->
<!-- <h3 *ngIf="selectedTable">Table: {{ selectedTable }}</h3> -->
<h3 *ngIf="selectedTable" style="width: 100%; margin-left: 20px;">
    Table: {{ selectedTable }}
    <p style="margin-top: 10px;">

        <!-- <button class="btn btn-warning" (click)="openRelations()">Relations</button> -->

        <!-- Bouton Add Table Like -->
        <button class='btn btn-primary' (click)="addTableLike()">Add Table Like</button>

        <button class="btn btn-success" (click)="startEditSelectedRow()">Update Selected Row</button>

        <button class="btn btn-info" (click)="insertLikeSelectedRow()">Insert Like Selected</button>

        <button class="btn btn-primary" (click)="insertRow()">Insert Empty Row</button>

        <!-- Bouton Delete Table -->
        <button class='btn btn-danger' (click)="confirmDeleteTable()">Delete Table</button>

        <button class="btn btn-danger" (click)="deleteSelectedRow()">Delete Selected Row</button>

    <div *ngIf="isEditing || isInserting" style="margin-top: 10px;">
        <button class="btn btn-primary" (click)="saveRow()">Save</button>
        <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
    </div>

</h3>

<!-- Layout principal -->
<!-- <button (click)="deleteTableData(table); $event.stopPropagation()">🗑️</button> -->
<div class="side-container" *ngIf="tables && tables?.length">

    <div #leftPanel class="side-left cadre">
        <ol>
            <li *ngFor="let table of tables " (click)="selectTable(table)" [style.cursor]="'pointer'"
                [ngClass]="getClassOfTable(table)">
                {{ table }}
            </li>
        </ol>
    </div>

    <div class="resizer cadre " (mousedown)="startResizing($event)"></div>

    <div class="side-right cadre ">

        <div style="display: flex; gap: 15px; margin-bottom: 15px;">
            <button class="btn" [ngClass]="{ 'btn-primary': activeTab === 'data', 'btn-light': activeTab !== 'data' }"
                (click)="activeTab = 'data'">
                Data
            </button>

            <button class="btn"
                [ngClass]="{ 'btn-primary': activeTab === 'relations', 'btn-light': activeTab !== 'relations' }"
                (click)="openRelations()">
                Relations
            </button>
        </div>


        <div *ngIf="activeTab === 'data'">

            <table *ngIf="lines && lines.length > 0" class="custom-table" id="res1">
                <thead>
                    <tr>
                        <th *ngFor="let key of getKeys(lines[0])">{{ key }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let row of lines; let i = index" (click)="selectRow(row, i)"
                        [ngClass]="{ 'row-selected': selectedRowIndex === i }">

                        <td *ngFor="let key of getKeys(row)" class="cell-content">

                            <!-- Mode édition -->
                            <input *ngIf="isEditing && i === editingIndex" [type]="getTypeInput(key)"
                                [(ngModel)]="rowInEdit[key]" [ngModel]="getValueForInput(key, rowInEdit[key])" />

                            <input *ngIf="isInserting && row === newRow" [type]="getTypeInput(key)"
                                [(ngModel)]="lines[i][key]" [ngModel]="getValueForInput(key, lines[i][key])" />

                            <!-- Mode normal -->
                            <span *ngIf="!(isEditing && i === editingIndex)">
                                {{ row[key] }}
                            </span>

                        </td>

                    </tr>
                </tbody>
            </table>

        </div>

        <div *ngIf="activeTab === 'relations'">

            <!-- <h3>Relations de {{ selectedTable }}</h3> -->

            <app-relations-d3 [data]="relationsData" [focusedTable]="selectedTable">
            </app-relations-d3>

        </div>




    </div>
</div>
<textarea *ngIf="colDetails" [(ngModel)]="colDetails" rows="5" cols="100" style="width: 100%;"></textarea><br>

<!-- Section SQL -->
<div style="padding: 10px;">
    <!-- <h3>Execute SQL</h3> -->
    <button (click)="executeSql()">
        <h3>Execute SQL</h3>
    </button> <br>
    <textarea [(ngModel)]="sql" rows="5" cols="100"></textarea><br>

    <div *ngIf="sqlResult?.length" class="resize-all">
        <h4>Result:</h4>
        <table border="1" class="custom-table ">
            <thead>
                <tr>
                    <th *ngFor="let key of getKeys(sqlResult[0]) ">{{ key }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of sqlResult">
                    <td *ngFor="let key of getKeys(row)" (click)="colDetails2 = row[key]" class="cell-content"
                        [title]="row[key]">
                        {{ row[key] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <textarea *ngIf="colDetails2" [(ngModel)]="colDetails2" rows="5" cols="100" style="width: 100%;"></textarea><br>
</div>
