<table>
    <tr>
        <td>
            <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions">
            </highcharts-chart>
        </td>
        <td *ngIf="!load" style="width: 100%;">
            <span></span>
        </td>
        <td *ngIf="!load">
            <div class="list_consultant">
                <span>Consultant: </span>
                <app-select style="font-size: 11px;" [selectId]="'fee-fep-perconsultant-slect-consultant'" #compoSelectConsultant [objectName]="'Consultant'" [myList]="myList" [initObj]="elementSelected" [objCaller]="this" onChangeCaller="onSelectConsultant" ObjectPropName="fullName">
                </app-select>
            </div>
            <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions">
            </highcharts-chart>
        </td>
        <td style="width: 27%;">
            <span></span>
        </td>

        <td *ngIf="load">
            <div class="list_consultant_loading">
                <span>Consultant: </span>
                <app-select style="font-size: 11px;" [selectId]="'fee-fep-perconsultant-slect-consultant'" #compoSelectConsultant [objectName]="'Consultant'" [myList]="myList" [initObj]="elementSelected" [objCaller]="this" onChangeCaller="onSelectConsultant" ObjectPropName="fullName">
                </app-select>
            </div>
            <div style="margin-top: 25%;">
                <app-spinner title="Choisir un consultant..."></app-spinner>
            </div>
        </td>
    </tr>
</table>
