<!-- <footer class="footer bg-info fixed-bottom text-center text-white pt-2 pb-2">
  © {{ today | date :  "yyyy" }}
  <a class="text-white" href="http://www.eisi-consulting.fr">Eisi Consulting</a>
</footer> -->


<!-- <div class="grad1"  >
  © {{ today | date :  "yyyy" }}
  <a class="text-blue" href="http://www.eisi-consulting.fr">Eisi Consulting</a>
</div> -->

<footer class="footer  fixed-bottom text-center text-white pt-2 pb-2">
  <div class="grad2"  >
    © {{ today | date :  "yyyy" }}
    <a class="text-blue" href="http://www.eisi-consulting.fr" target="_blank">Eisi Consulting</a>
  </div>
</footer>