<!-- <infors #infors></infors> -->
<div class="card my-5">
  <div class="card-body">
    <h3 class="card-title text-center py-3">Manage Permissions</h3>

    <div class="right" style="width: 40%;" name="searchDiv" >
      <input id="searchStr" class="form-control left" style="width: 90%;"  type="text" placeholder="search" name="searchStr" [(ngModel)]="searchStr" 
      (keyup)="search()" 
      >
      <button class="right" style="width: 10%; height: 40px; text-align: center;" (click)="clearSearch()">X</button>
    </div>

    <div class="form-group" >
      <label for="roleList">Role: </label>
      <app-select #compoSelectRole [objectName]="'Role'"  [myList]="roles" [initObj]="roleFilter"  [objCaller]="this" onChangeCaller="onSelectRole"  ></app-select>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Feature</th>
        <th scope="col" class="center">ALL</th>
        <th scope="col" class="center">VIEW</th>
        <th scope="col" class="center">ADD</th>
        <th scope="col" class="center">UPDATE</th>
        <th scope="col" class="center">DELETE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let element of myList | paginate: {itemsPerPage, currentPage}; let i = index">
        <td>{{ element.featureId.featureName }}</td>
        <td>
          <input type="checkbox" (click)="updateList(i,'all',$event)" class="form-check-input" style="margin-left: 10px;">
        </td>
        <td>
          <input type="checkbox" [checked]="element.view" (click)="updateList(i,'isView',$event)" class="form-check-input" style="margin-left: 10px;">
        </td>
        <td>
          <input type="checkbox" [checked]="element.add" (click)="updateList(i,'isAdd',$event)" class="form-check-input" style="margin-left: 10px;">
        </td>
        <td>
          <input type="checkbox" [checked]="element.update" (click)="updateList(i,'isUpdate',$event)" class="form-check-input" style="margin-left: 10px;">
        </td>
        <td>
          <input type="checkbox" [checked]="element.delete" (click)="updateList(i,'isDelete',$event)" class="form-check-input" style="margin-left: 10px;">
        </td>
      </tr>
      </tbody>
    </table>

    <div class="left" style="width: 50%;">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
    <div class="right" style="width: 50%;">
      <li class="list-inline-item "><a (click)="checkedAll()" class="btn btn-info">CHECKED ALL</a>
      </li>
      <li class="list-inline-item"><a (click)="updatePermissions()" class="btn btn-info">UPDATE</a>
      </li>
    </div>

  </div>
</div>
